*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(71, 71, 217);
    background-image: url(../img/pattern.png);
    background-size: 30%;
    height: 100px;
    
}

.booleaner{ 
    height: 50px;
    margin-top: 40px;
}