*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Sezione Header*/
header{
    background-color: rgb(71, 71, 217);
    background-image: url(../img/pattern.png);
    background-size: 30%;
    height: 100px;
    
}

.booleaner{ 
    height: 50px;
    margin-top: 40px;
}
/*Fine Sezione Header*/

/*Sezione main*/
main{
    margin-top: 20px;
}

/*Sezione Titolo*/
h1{
    font-size: 60px;
}

.autore{
    color: grey;
}

.nome-autore{
    color: rgb(71, 71, 217) ;
}

.data{
    color: grey;
    font-size: 12px;
}
/*Fine Sezione Titolo*/

/*Sezione Foto*/

.immagini{
    margin-top: 20px;
}

.immagini .descrizione{
    font-size: 12px;
}
/*Fine Sezione Foto*/

/*Sezione Contenuto*/
.contenuto{
    margin: 20px 0;
}
.evidenziato{
    background-color: yellow;
}

.contenuto ul{
    margin:30px 20px;
}
/*Fine Sezione Contenuto*/
/*Sezione Table*/
table{
    text-align: left;
    border-collapse: collapse;
}

thead{
    background-color: rgb(97, 97, 195);
    color: white;
}

.dispari{
    background-color: lightblue;
}

.testo{
    width: 50%;
}

/*Fine Sezione Table*/